<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header class="main-header">
    <div id="header-estelar">
      <img src="../../../assets/Images/estelar.png" alt="Logo Estelar">
    </div>
    <div id="header-perfil">
      <nav>
        <ul class="lista-navegacao">
          <li><img src="../../../assets/Images/image-icone.png" alt="Imagem Perfil"></li>
          <li><img src="../../../assets/Images/notificacao.png" alt="Notificação"></li>
          <li><img src="../../../assets/Images/user.png" alt="Usuário"></li>
        </ul>
      </nav>
    </div>
  </header>

  <aside class="sidebar">
    <a routerLink=""
    routerLinkActive="active"
    ariaCurrentWhenActive="page"><img src="../../../assets/Images/home.png" alt="Início"></a>
    <a routerLink=""
    routerLinkActive="active"
    ariaCurrentWhenActive="page"><img src="../../../assets/Images/card-machine.png" alt="Notas"></a>
    <a routerLink=""
    routerLinkActive="active"
    ariaCurrentWhenActive="page"><img src="../../../assets/Images/university.png" alt="Gráficos"></a>
    <a routerLink=""
    routerLinkActive="active"
    ariaCurrentWhenActive="page"><img src="../../../assets/Images/image-icone-sidebar.png" alt=""></a>
    <a routerLink=""
    routerLinkActive="active"
    ariaCurrentWhenActive="page"><img src="../../../assets/Images/image-icone-sidebar.png" alt=""></a>
  </aside>
  <div class="container">
    <aside class="sidebar">
      <a routerLink=""
      routerLinkActive="active"
      ariaCurrentWhenActive="page"><img src="../../../assets/Images/home.png" alt="Início"></a>
      <a routerLink=""
      routerLinkActive="active"
      ariaCurrentWhenActive="page"><img src="../../../assets/Images/card-machine.png" alt="Notas"></a>
      <a routerLink=""
      routerLinkActive="active"
      ariaCurrentWhenActive="page"><img src="../../../assets/Images/university.png" alt="Gráficos"></a>
      <a routerLink=""
      routerLinkActive="active"
      ariaCurrentWhenActive="page"><img src="../../../assets/Images/image-icone-sidebar.png" alt=""></a>
      <a routerLink=""
      routerLinkActive="active"
      ariaCurrentWhenActive="page"><img src="../../../assets/Images/image-icone-sidebar.png" alt=""></a>
    </aside>
    <header class="breadcrumb">
      <p><a href="#">Início</a> > <strong>Laboratório de Germinares</strong></p>
    </header>
    <mat-stepper [linear]="isLinear" #stepper>
      <!-- cadastro aluno -->
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <!-- txt step -->
          <ng-template matStepLabel>Fill out the aluno</ng-template>
          
  
              <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput placeholder="Last name, First name" formControlName="nameCtrl" required>
              </mat-form-field>
              <mat-form-field>
                  <mat-label>E-mail</mat-label>
                  <input matInput placeholder="Last name, First name" formControlName="emailCtrl" required >
              </mat-form-field>
              <mat-form-field>
                  <mat-label>Gênero</mat-label>
                  <input matInput placeholder="Last name, First name" formControlName="generoCtrl" required >
              </mat-form-field>
              <mat-form-field>
                  <mat-label>data Nascimento</mat-label>
                  <input matInput placeholder="Last name, First name" formControlName="dtNascimentoCtrl" required>
              </mat-form-field>
              <mat-form-field>
                  <mat-label>tipo Alimentação</mat-label>
                  <input matInput placeholder="Last name, First name" formControlName="TipoAlimentacaoCtrl" required>
              </mat-form-field>
              <mat-form-field>
                  <mat-label>escolaridade país</mat-label>
                  <input matInput placeholder="Last name, First name" formControlName="escolaridadePais" required>
              </mat-form-field>
              <button mat-button matStepperNext>Next</button>
            <div class="buttons">
            </div>
          </form>
      </mat-step>
  
      <!-- cadastro Notas -->
      <mat-step [stepControl]="secondFormGroup" label="Fill out your address">
        <form [formGroup]="secondFormGroup">
  
          <mat-form-field>
            <mat-label>Linguagens</mat-label>
            <input matInput formControlName="Linguagensctrl" placeholder="Ex. 1 Main St, New York, NY"
                   required>
  
          </mat-form-field>
          <mat-form-field>
              <mat-label>Exatas</mat-label>
                        <input matInput formControlName="Exatasctrl" placeholder="Ex. 1 Main St, New York, NY"
                               required>
          </mat-form-field>
            <mat-form-field>
          <mat-label>Ciências</mat-label>
          <input matInput formControlName="Cienciasctrl" placeholder="Ex. 1 Main St, New York, NY"
                 required>
            </mat-form-field>
          <div class="buttons">
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <!-- terminar -->
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div class="buttons">
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step>
    </mat-stepper>
    <router-outlet></router-outlet>
  </div>
</body>
</html>

