:root {
  --cor-fundo: #E0FFDE;
  --cor-verde-claro1: #7DE5B0;
  --cor-verde-claro2: #00CC73;
  --cor-verde: #008C4F;
  --cor-amarelo-claro: #F5F09E;
  --cor-amarelo: #C7DB4A;
  --cor-rosa-claro1: #F5D9C7;
  --cor-laranja-claro: #FF9663;
  --cor-laranja: #FF522B;
  --cor-rosa-claro2: #FFD4FF;
  --cor-rosa: #FF85FA;
  --cor-roxo: #690059;
  --cor-azul-claro: #C7E5FF;
  --cor-azul-bebe: #638CFF;
  --cor-azul: #000FF2;
  --cor-amarelo-queijo: #FCCC00;
  --cor-laranja2: #DE7D00;
  --cor-amarelo-claro2: #9E9940;
}

/* Reset e base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: #111;
}

/* Header */
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

#header-perfil ul {
  list-style: none;
  display: flex;
  align-items: center;
}


/* Layout principal */
.container-page {
  display: flex;
  margin-top: 60px; /* Altura do header */
  height: calc(100vh - 60px);
}

/* Sidebar */
.sidebar {
  width: 70px;
  background-color: #fff;
  height: calc(100vh - 60px); /* Menos o header */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  border-right: 1px solid #eee;
  position: fixed;
  top: 60px;
  left: 0;
}

.sidebar a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px; /* aumenta a área clicável */
  border-radius: 10px;
  transition: background-color 0.3s;
}

.sidebar a:hover {
  background-color: #00CC73;
}


.breadcrumb {
  font-size: 14px;
  color: #666;
  margin-bottom: 30px;
}

.breadcrumb a {
  color: #666;
  text-decoration: none;
}

.page {
  margin-left: 70px;
  padding: 40px;
  flex-grow: 1;
  width: calc(100% - 70px);
}

/* Conteúdo principal */
.content {
  width: 100%;
  max-width: 800px;
}

/* Container interno */
.container {
  width: 100%;
  padding: 30px;
  border: 1px solid #eee;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  background-color: #fff;
}

h1 {
  font-size: 24px;
  margin-bottom: 25px;
}

/* Formulário */
.nota-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  font-weight: 600;
  font-size: 14px;
  color: #555;
}

input {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

/* Botão */
.btn-salvar {
  margin-top: 10px;
  padding: 12px;
  background-color: #007f5f;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  transition: background 0.2s;
}

.btn-salvar:hover {
  background-color: #005f46;
}

/* Ações */
.actions {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
}
