<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Cadastrar Aluno</title>
  <link rel="stylesheet" href="cadastrar-user.component.css"/>
</head>
<body>
  <div class="page">
    <header class="breadcrumb">
      <p><a href="#">Início</a> > <strong>Laboratório de Germinares</strong></p>
    </header>

    <h1>Cadastrar</h1> 
      <h2>Preencha os campos a seguir</h2>
      <br>
    </div>

    <form class="form">
      <input type="email" placeholder="E-mail" required />
      <input type="password" placeholder="Senha" required />
      <input type="text" placeholder="Gênero" />
      <input type="text" placeholder="Nome completo" required/>
      <input type="date" placeholder="Data de nascimento"required />
      <input type="text" placeholder="Tipo de alimentação" required/>

      <div class="buttons">
        <button routerLink="/login"
        routerLinkActive="active"
        ariaCurrentWhenActive="page" class="card"
        type="button" class="proximo">◀️Voltar</button>
        <button type="submit" class="proximo">cadastrar</button>
      </div>
    </form>
    <router-outlet></router-outlet>
</body>
</html>

