:root {
  --cor-fundo: #E0FFDE;
  --cor-verde-claro1: #7DE5B0;
  --cor-verde-claro2: #00CC73;
  --cor-verde: #008C4F;
  --cor-amarelo-claro: #F5F09E;
  --cor-amarelo: #C7DB4A;
  --cor-rosa-claro1: #F5D9C7;
  --cor-laranja-claro: #FF9663;
  --cor-laranja: #FF522B;
  --cor-rosa-claro2: #FFD4FF;
  --cor-rosa: #FF85FA;
  --cor-roxo: #690059;
  --cor-azul-claro: #C7E5FF;
  --cor-azul-bebe: #638CFF;
  --cor-azul: #000FF2;
  --cor-amarelo-queijo: #FCCC00;
  --cor-laranja2: #DE7D00;
  --cor-amarelo-claro2: #9E9940;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  color: #111;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

#header-perfil ul {
  list-style: none;
  display: flex;
  align-items: center;
}

#header-perfil li {
  margin-left: 15px;
}

.container {
  display: flex;
  margin-top: 60px; /* Espaço para o header */
}

.sidebar {
  width: 70px;
  background-color: #fff;
  height: calc(100vh - 60px); /* Menos o header */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  border-right: 1px solid #eee;
  position: fixed;
  top: 60px;
  left: 0;
}

.sidebar a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px; /* aumenta a área clicável */
  border-radius: 10px;
  transition: background-color 0.3s;
}

.sidebar a:hover {
  background-color: #00CC73;
}


.sidebar img  {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.page {
  margin-left: 70px;
  padding: 40px;
  flex-grow: 1;
  width: calc(100% - 70px);
}

.breadcrumb {
  font-size: 14px;
  color: #666;
  margin-bottom: 30px;
}

.breadcrumb a {
  color: #666;
  text-decoration: none;
}

.content h1 {
  font-size: 24px;
  margin-bottom: 30px;
}

.login-box {
  max-width: 400px;
}

.login-box h1 {
  font-size: 20px;
  margin-bottom: 10px;
}

.login-box p {
  font-size: 14px;
  margin-bottom: 20px;
  color: #555;
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.actions {
  display: flex;
  align-items: center;
  gap: 15px;
}

.btn.primary {
  background-color: #1c8f66;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

.btn.primary:hover {
  background-color: #146d4c;
}

.login-link {
  color: #1c8f66;
  font-size: 14px;
  text-decoration: none;
}

.btn.primary,
.login-link {
  display: flex;
  align-items: center;
  gap: 8px;
}

.btn.primary img,
.login-link img {
  width: 16px;
  height: 16px;
}

.login-link:hover {
  text-decoration: underline;
}
