<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Laboratório de Germinares</title>
  <link rel="stylesheet" href="login.component.css"/>
</head>
<body>
    <!-- fazer uma pagina antes para ter /um inicio (necessidade baixa) -->
  <header class="main-header">
    <div id="header-estelar">
      <img src="../../../assets/Images/estelar.png" alt="Logo Estelar">
    </div>
    <div id="header-perfil">
      <nav>
        <ul class="lista-navegacao">
          <li><img src="../../../assets/Images/image-icone.png" alt="Imagem Perfil"></li>
          <li><img src="../../../assets/Images/notificacao.png" alt="Notificação"></li>
          <li><img src="../../../assets/Images/user.png" alt="Usuário"></li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="container">
    <aside class="sidebar">
      <a routerLink=""
      routerLinkActive="active"
      ariaCurrentWhenActive="page"><img src="../../../assets/Images/home.png" alt="Início"></a>
      <a routerLink=""
      routerLinkActive="active"
      ariaCurrentWhenActive="page"><img src="../../../assets/Images/card-machine.png" alt="Notas"></a>
      <a routerLink=""
      routerLinkActive="active"
      ariaCurrentWhenActive="page"><img src="../../../assets/Images/university.png" alt="Gráficos"></a>
      <a routerLink=""
      routerLinkActive="active"
      ariaCurrentWhenActive="page"><img src="../../../assets/Images/image-icone-sidebar.png" alt=""></a>
      <a routerLink=""
      routerLinkActive="active"
      ariaCurrentWhenActive="page"><img src="../../../assets/Images/image-icone-sidebar.png" alt=""></a>
    </aside>

    <div class="page">
      <nav class="breadcrumb">
        <p><a href="#">Início</a> > <strong>Laboratório de Germinares</strong></p>
      </nav>

      <div class="login-box">
        <h1>Laboratório de Germinares</h1>
        <p>Realize o login! Caso seja seu primeiro acesso, faça o cadastro.</p>

        <form>
          <input type="email" placeholder="E-mail" required />
          <input type="password" placeholder="Senha" required />

          <div class="actions">
            <button   routerLink="/cadastroUser"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"  class="btn primary" type="button"><img src="../../../assets/Images/cadastro.png" alt="">Cadastrar</button>
            <a routerLink="/gerenciamentoNotas"
            routerLinkActive="active"
            ariaCurrentWhenActive="page" class="login-link"><img src="../../../assets/Images/login.png" alt="">Fazer login</a>
          </div>
        </form>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</body>
</html>
