<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Cadastrar Aluno</title>
  <link rel="stylesheet" href="cadastrar-aluno.component.css"/>
</head>
<body>
  <div class="page">
    <header class="breadcrumb">
      <p><a href="#">Início</a> > <strong>Laboratório de Germinares</strong></p>
    </header>

    <h1>Cadastrar Aluno</h1>

    <div class="steps">
      <div class="step active">
        <span class="circle">1</span>
        <span>Informações Básicas</span>
      </div>
      <div class="step">
        <span class="circle">2</span>
        <span>Notas</span>
      </div>
    </div>

    <form class="form">
      <input type="email" placeholder="E-mail" required />
      <input type="text" placeholder="Nome completo" required />
      <input type="text" placeholder="Gênero" />
      <input type="date" placeholder="Data de nascimento" required/>
      <input type="text" placeholder="Tipo de alimentação" />
      <input type="text" placeholder="Escolaridade Pais" />

      <div class="buttons">

        <button type="reset" class="descartar">Descartar</button>

        <button routerLink="/cadastroNota"
        routerLinkActive="active"
        ariaCurrentWhenActive="step" class="card"
         type="submit" class="proximo">Próximo</button>

      </div>
      
    </form>

    

    
  </div>
  <router-outlet></router-outlet>
</body>
</html>

