:root {
    --cor-fundo: #E0FFDE;
    --cor-verde-claro1: #7DE5B0;
    --cor-verde-claro2: #00CC73;
    --cor-verde: #008C4F;
    --cor-amarelo-claro: #F5F09E;
    --cor-amarelo: #C7DB4A;
    --cor-rosa-claro1: #F5D9C7;
    --cor-laranja-claro: #FF9663;
    --cor-laranja: #FF522B;
    --cor-rosa-claro2: #FFD4FF;
    --cor-rosa: #FF85FA;
    --cor-roxo: #690059;
    --cor-azul-claro: #C7E5FF;
    --cor-azul-bebe: #638CFF;
    --cor-azul: #000FF2;
    --cor-amarelo-queijo: #FCCC00;
    --cor-laranja2: #DE7D00;
    --cor-amarelo-claro2: #9E9940;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
  }
  
  body {
    color: #111;
  }
  
  .main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  
  #header-perfil ul {
    list-style: none;
    display: flex;
    align-items: center;
  }
  
  #header-perfil li {
    margin-left: 15px;
  }
  
  .container {
    display: flex;
    margin-top: 60px; /* Espaço para o header */
  }
  
  .sidebar {
    width: 70px;
    background-color: #fff;
    height: calc(100vh - 60px); /* Menos o header */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    border-right: 1px solid #eee;
    position: fixed;
    top: 60px;
    left: 0;
  }
  
  .sidebar a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px; /* aumenta a área clicável */
    border-radius: 10px;
    transition: background-color 0.3s;
  }
  
  .sidebar a:hover {
    background-color: #00CC73;
  }
  
  
  .sidebar img  {
    width: 24px;
    height: 24px;
    object-fit: contain;
  }
  
  .page {
    margin-left: 70px;
    padding: 40px;
    flex-grow: 1;
    width: calc(100% - 70px);
  }
  
  .breadcrumb {
    font-size: 14px;
    color: #666;
    margin-bottom: 30px;
  }
  
  .breadcrumb a {
    color: #666;
    text-decoration: none;
  }
  
  .page h1 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  
  .titulo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .busca-container {
    display: flex;
    align-items: center;
    gap: 8px;
  }

.pesquisa-input{
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 8px 12px;
  width: 100%;
  max-width: 400px;
  }
  
.pesquisa-input img{
  width: 16px;
  height: 16px;
  
}

.pesquisa-input input{
  border: none;
  background: transparent;
  outline: none;
  width: 100%;
  font-size: 14px;
  color: #333;
}

  .tabela-container {
    overflow-x: auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  }
  
  .tabela {
    width: 100%;
    border-collapse: collapse;
  }
  
  .tabela thead {
    background-color: #f3f4f6;
    font-weight: bold;
  }
  
  .tabela th, .tabela td {
    text-align: center;
    padding: 12px;
    border-bottom: 1px solid #e5e7eb;
  }
  
  .tabela td:first-child,
  .tabela th:first-child {
    text-align: left;
  }
  
  .status {
    padding: 4px 10px;
    border-radius: 20px;
    font-size: 12px;
    display: inline-block;
  }
  
  .aprovado {
    background-color: #d1fae5;
    color: #059669;
  }
  
  .acoes {
    font-size: 18px;
    cursor: default;
  }
  
  .paginacao-container {
    margin-top: 20px;
    display: flex;
    align-items: center;
    font-size: 14px;
    flex-direction: row-reverse;
  }
  
  .itens-pagina {
    padding: 6px 10px;
    border-radius: 5px;
    border: 1px solid #d1d5db;
    margin-right: 15px;
  }
  
  .numeros-pagina button {
    margin: 0 2px;
    padding: 6px 10px;
    border: 1px solid #d1d5db;
    background-color: white;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .numeros-pagina span {
    margin: 0 6px;
  }

  
.btn-cadastrar {
  background-color: #1c8f66;
  color: white;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.btn-pesquisar {
  background: none;
  color: #007f5f;
}

.btn-cadastrar,
.btn-pesquisar{
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 14px;
}



.btn-cadastrar img{
  width: 16px;
  height: 16px;
}

.btn-pesquisar:hover {
  text-decoration: underline;
}